<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletTienda</servlet-name>
        <servlet-class>controlador.ServletTienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAutenticacionRegistro</servlet-name>
        <servlet-class>controlador.ServletAutenticacionRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdministracionUsuarios</servlet-name>
        <servlet-class>controlador.ServletAdministracionUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdministracionProductos</servlet-name>
        <servlet-class>controlador.ServletAdministracionProductos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletTienda</servlet-name>
        <url-pattern>/ServletTienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAutenticacionRegistro</servlet-name>
        <url-pattern>/ServletAutenticacionRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdministracionUsuarios</servlet-name>
        <url-pattern>/ServletAdministracionUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdministracionProductos</servlet-name>
        <url-pattern>/ServletAdministracionProductos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
